<div *ngIf="project">
    <div class="project-detail-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{project.name}}</h2>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="editProject(project)">
                <i class="material-icons">mode_edit</i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="deleteProject(project)">
                <i class="material-icons">delete</i>
            </button>
        </div>
        <div class="project-detail-container">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <dl>
                        <dt>Client Name</dt>
                        <dd>{{project.client?.name}}
                                 <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" popover 
                                 [template]="clientDetailTpl" [title]="'Client Details'">
                                    <i class="material-icons">info</i>
                                </button>
                                <div #clientDetailTpl>
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--6-col">
                                            <dl>
                                                <dt>Timezone</dt>
                                                <dd>{{project.client?.timezone}}</dd>
                                            </dl>   
                                        </div>
                                        <div class="mdl-cell mdl-cell--6-col">
                                            <dl>
                                                <dt>Country</dt>
                                                <dd>{{project.client?.country}}</dd>
                                            </dl>   
                                        </div>
                                        <div class="mdl-cell mdl-cell--6-col">
                                            <dl>
                                                <dt>Email</dt>
                                                <dd>{{project.client?.email}}</dd>
                                            </dl>    
                                        </div>
                                    </div>
                                </div>
                        </dd>
                    </dl>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <dl>
                        <dt>Status</dt>
                        <dd>{{project.isCompleted ? 'Completed' : 'Active'}}</dd>
                    </dl>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <dl>
                        <dt>Start Date</dt>
                        <dd>{{project.startDate | date}}</dd>
                    </dl>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <dl>
                        <dt>End Date</dt>
                        <dd>{{project.endDate | date}}</dd>
                    </dl>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <dl>
                        <dt>Details</dt>
                        <dd>{{project.details}}</dd>
                    </dl>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <dl>
                        <dt>Employees</dt>
                        <dd>
                            <project-employee-list [employees]="project.employees">
                            </project-employee-list>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>