<div class="mdl-grid">
  <!-- 1. Communication using local variable -->
  <!--<div class="mdl-cell mdl-cell--3-col">
      <projects-list #projectList></projects-list>
  </div>
  <div class="mdl-cell mdl-cell--9-col">
      <project-detail [project]="projectList.selectedProject"></project-detail>
  </div>-->
  
  <!-- 2. Communication using event binding -->
  <div class="mdl-cell mdl-cell--3-col">
      <projects-list #projectsList (projectSelect)="onProjectSelect($event)" (addProject)="onProjectAdd()"></projects-list>
  </div>
  <div class="mdl-cell mdl-cell--9-col">
      <project-detail *ngIf="!isAddOrEdit" [project]="selectedProject" (edit)="isAddOrEdit = true"></project-detail>
      <project-form *ngIf="isAddOrEdit" [projectId]="selectedProject?.id" 
        (changesCancelled) = "isAddOrEdit = false" (changesSaved)= "onProjectDataSaved($event)"></project-form>
  </div>  
</div>