<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="filterProjects">
    <input class="mdl-textfield__input" type="text" id="filterTxt" (keyup)="filterText = $event.target.value" />
    <label class="mdl-textfield__label" for="filterTxt">Filter...</label>
</div>
<div class="projects-list mdl-list">
    <div class="mdl-list__item" *ngFor="#project of projects | projectsFilter: filterText" 
            (click)="selectProject(project)" 
            [class.selected]="project.id == selectedProject?.id">
        <span class="mdl-list__item-primary-content">
        <!-- using ngIf directive -->
        <i *ngIf="project.isCompleted" class="material-icons mdl-list__item-icon">check_circle</i>
        <i *ngIf="!project.isCompleted" class="material-icons mdl-list__item-icon">radio_button_unchecked</i>
        
        <!-- using ngSwitch directive -->
        <!--<i [ngSwitch]="project.isCompleted" class="material-icons mdl-list__item-icon">
            <template [ngSwitchWhen]="true">check_circle</template>
            <template [ngSwitchWhen]="false">radio_button_unchecked</template>
        </i>-->
        {{project.name}}
    </span>
    </div>
</div>