<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Projects </span>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">PM App</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['Dashboard']" href="">Dashboard</a>
            <a class="mdl-navigation__link" [routerLink]="['Projects']" href="">Projects</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>