<div class="dashboard-content-container mdl-grid" materialize>
    <div class="mdl-cell mdl-cell--12-col">
        <h4>Active Projects</h4>
    </div>
    <div class="mdl-card mdl-shadow--4dp" *ngFor="#project of activeProjects">
        <div class="mdl-card__title mdl-color--indigo-300 mdl-color-text--accent-contrast">
            <h5>{{project.name}}</h5>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--accent-contrast">
                <i class="material-icons">mode_edit</i>
            </button>
        </div>
        <div class="mdl-card__supporting-text">
            {{project.client.name}}
        </div>
    </div>
</div>